# === Java / Spring Boot ===
/target/
*.class
*.jar
*.war
*.ear
*.iml
/.idea/
/*.log

# === Maven ===
/.mvn/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
release.properties



# === IntelliJ ===
*.iws
*.ipr
*.iml
.idea/

# === Eclipse ===
*.classpath
*.project
*.settings/

# === VS Code ===
.vscode/



# === Angular / Node ===
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.env

# === Environment files ===
.env
*.env

# === Logs ===
*.log
logs/
*.log.*

# === Other ===
/*.swp
